@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    /*font-family: "Merriweather", serif;*/
    /*  font-family: "Golos Text", sans-serif;*/
}
:root {
    --font-family: "Golos Text", sans-serif;
    --second-family: "Merriweather", sans-serif;
    --third-family: "Montserrat", sans-serif;
  }
.container{
    max-width: 1222px;
    margin: 0 auto;
}
.header__row{
    padding-top: 26px;
}
.background__banner{
        background-image: url(./image/background.png);
        background-position:   center;
}
.banner{

    padding-top: 62px;
}
.banner__info{
    max-width: 542px;
}
.banner__title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #313131;
}
.banner__text{
    padding-top: 25px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #313131;
}
.banner__title_center{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: #313131;
}
.btns__banner{
    padding-top: 40px;
    padding-bottom: 132px;
    display: flex;
    gap: 20px;
}
.btn__banner_black{
    box-sizing: border-box;
    background: #1f1f1f;
    border-radius: 66px;
    padding: 20px;
    max-width: 263px;
    height: 72px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    border: none;
    transition: 0.6s;
    cursor: pointer;
}
.btn__banner_black:hover{
    background: #fbce51;
    color: #1f1f1f;

}
.btn__banner{
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #1f1f1f;
    border-radius: 66px;
    padding: 20px;
    max-width: 263px;
    height: 72px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #1f1f1f;
    transition: 0.6s;
    cursor: pointer;
}
.btn__banner:hover{
    background: #1f1f1f;
    color: #fff;

}
marquee{
    padding: 18px 12px;
    width: 1800px;
    height: 30px;
    background-color: #f54932;
}
.infostrok{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
.ideasite{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.ideasite__text{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    color: #313131;
}
.red__text{
    font-weight: 700;
    color: #f54932;
}
.sessiontable{
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sessiontable__title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    color: #313131;
}
table {
    border: 4px solid white;
    border-collapse: collapse;
   width: 100%;
 }

 td {
     padding: 16px; /* Поля вокруг содержимого таблицы */
    border: 2px solid #999999; /* Параметры рамки */
    text-align: left; /* Выравнивание по левому краю */
 }
.sessiontable__text{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #313131;
}
.sessiontable_grey__text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #313131;
    opacity: 0.7;
}
.sessiontable__text_blue{
    padding-top: 45px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #3057a2;
}


.footer{
    background-color: #E9DED4;
}
.footer__row{
    padding-top: 40px;
    padding-bottom: 72px;
}
.footer__text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #313131;
}