@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    /*font-family: "Merriweather", serif;*/
    /*  font-family: "Golos Text", sans-serif;*/
}
.container{
    max-width: 1222px;
    margin: 0 auto;
}
.header__row{
    padding-top: 26px;
}